@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --base: #f1f1f1;
  --base2: #dde3f1;
  --corPrincipal: #0f172a;
  --corPrincipal2: #0f172af7;
  --corPrincipalEnd: #1b2b52;
  --corTexto2: #0c1b3f;
  --corTexto: #94a3b8;
  --corError: #ebebeb04;
}

.transition-slide {
  transition: transform 2.5s ease-in-out;
}

.body {
  background: linear-gradient(
      to right,
      transparent,
      var(--corPrincipalEnd)
    )
    var(--corPrincipal);
}
.body2 {
  background: linear-gradient(
      to right,
      transparent,
      var(--base2)
    )
    var(--base);
}
.body3 {
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, var(--corError) 70%);
}

@layer components {
  .btnPrincipal {
    @apply rounded-md bg-[var(--corPrincipal)] text-[var(--base)] hover:bg-[var(--corPrincipalEnd)] hover:text-[var(--base)] hover:scale-105 shadow-md ease-in duration-300
  }
  .alinha {
    @apply flex flex-col justify-between 
  }
  .alinha2 {
    @apply flex justify-between items-center
  }
  .alinha3 {
    @apply flex justify-center items-center
  }
  .alinha4 {
    @apply flex flex-col justify-around items-center text-center
  }
  .alinha5 {
    @apply flex justify-around items-center 
  }
  .alinha6 {
    @apply flex flex-col justify-center items-center
  }
  .navLink {
    @apply text-[var(--base)] hover:bg-[var(--base)] hover:text-[var(--corPrincipal)] hover:scale-105 md:p-2 active:bg-[var(--base)] active:text-[var(--corPrincipal)] active:scale-105 ease-in duration-300
  }
  .headerLink {
    @apply text-[var(--corPrincipalEnd)]  hover:text-[var(--base)]
  }
  .headerIcone {
    @apply bg-[var(--base)] text-[var(--corPrincipalEnd)] md:p-2 text-6xl md:text-7xl lg:text-5xl rounded-sm md:rounded-lg shadow-md hover:bg-[--corPrincipalEnd] hover:text-[var(--base)] hover:scale-125 cursor-pointer ease-in duration-500
  }
  .contProjeto {
    @apply md:flex md:flex-col lg:flex-row lg:flex-wrap justify-center items-center gap-6 md:px-0 lg:w-[50%]
  }
  .conTec {
    @apply bg-[var(--corPrincipal)] p-2 md:p-4 lg:p-2 shadow-md hover:scale-105  hover:bg-[var(--corPrincipalEnd)] rounded-md w-[49%] md:w-[33%] ease-in duration-500
  }
  .tec {
    @apply text-[var(--base)] md:my-2 md:text-base
  }
  .tecIcone {
    @apply bg-[var(--base)] text-[var(--corPrincipalEnd)] p-2 md:p-2 text-6xl lg:text-5xl rounded-lg shadow-md hover:bg-[--corPrincipalEnd] hover:text-[var(--base)] hover:scale-125 cursor-pointer ease-in duration-500
  }
  .tecIcone2 {
    @apply text-7xl md:text-9xl lg:text-7xl
  }
  .tecLetras {
    @apply hidden md:block md:mt-1 text-[.6rem] lg:text-[.7rem] text-[var(--corPrincipalEnd)] group-hover:text-[var(--base)]
  }
  .tecImg {
    @apply  bg-[var(--base)] text-[var(--corPrincipalEnd)] md:p-2 text-6xl rounded-lg shadow-md hover:bg-[--corPrincipalEnd] hover:text-[var(--base)] hover:scale-125 cursor-pointer ease-in duration-500
  }
  .tecImg2 {
    @apply  w-[90px] h-[90px] md:w-[125px] lg:w-[88px] rounded-full hover:scale-105
  }
  .contatoLink {
    @apply  p-2 md:p-2 text-7xl rounded-lg shadow-md  hover:scale-125 cursor-pointer ease-in duration-500 text-[var(--base)] bg-[var(--corPrincipalEnd)] 
  }
  .contatoLink2 {
    @apply  p-2 md:p-2  rounded-lg shadow-md  hover:scale-125 cursor-pointer ease-in duration-500 text-[#1b2b52] bg-[var(--base)]
  }
  .contatoIcones {
    @apply text-5xl md:text-7xl lg:text-5xl
  }
  .footerIcones {
    @apply  hover:text-white hover:scale-125 text-[var(--base2)] md:rounded-lg shadow-md cursor-pointer ease-in duration-500 text-4xl md:text-6xl lg:text-5xl
  }
}
h1 {
  margin: 0;
  color: var(--base);
  font-size: 2rem;
  font-weight: bold;
}
h3{
  font-family: var(--fontIntermediaria);
  color: var(--base);
  font-size: 1.6rem
} 

p {
  margin: 0;
  font-family: var(--segundaFont);
  color: var(--corTexto);
  font-size: 1rem
}

h2 {
  font-family: var(--segundaFont);
  color: var(--base);
  font-size: 1.7rem;
  font-weight: bold;
}

a{
  font-family: var(--fontPrincipal);
} 
